<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <title>Loop</title>
</head>

<body>
<h1>Наши пользователи</h1>
<h1>Добро пожаловать </h1>

<table>
    <tr>
        <th>No</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>eMail</th>
        <th>Номер телефона</th>
    </tr>

    <tr th:each="User, state : ${users}"
        class="row" th:classappend="${state.odd} ? 'odd-row' : 'even-row'">
        <td th:text="${User.id}">No</td>
        <td th:text="${User.name}">Имя</td>
        <td th:text="${User.lastname}">Фамилия</td>
        <td th:text="${User.email}">eMail</td>
        <td th:text="${User.foneNumber}">Номер телефона</td>
        <td>
            <form th:action="@{/admin/edit(id=${User.id})}" th:object="${User}">
                <input type="hidden" name="id" th:value="${User.id}">
                <button type="submit">Изменить</button>
            </form>
        </td>

        <td>
            <form th:action="@{/admin/delete(id=${User.id})}" th:object="${User}">
                <input type="hidden" name="id" th:value="${User.id}">
                <button type="submit">Удалить</button>
            </form>
        </td>
    </tr>

</table>

<form th:action="@{admin/add}">
    <button type="submit">Добавить нового пользователя</button>
</form>


<form th:action="@{/logout}">
    <button type="submit">Выход</button>
</form>
</body>
</html>